### 普通Java项目 template
# 文件夹
.idea/
out/
doc/

# 文件
*.iml

.gitignore

# ignore源码文件
src/com/
src/javax/
src/launcher/
src/org/
src/sun/
/src/java/rmi/
/src/java/sql/
/src/java/math/
/src/java/awt/
/src/java/lang/
/src/java/applet/
/src/java/net/
/src/java/time/
/src/java/text/
/src/java/beans/
/src/java/io/
/src/java/nio/
/src/java/security/
/src/java/util/IllegalFormatConversionException.java
/src/java/util/StringJoiner.java
/src/java/util/IdentityHashMap.java
/src/java/util/LinkedHashMap.java
/src/java/util/OptionalLong.java
/src/java/util/JumboEnumSet.java
/src/java/util/Formatter.java
/src/java/util/AbstractCollection.java
/src/java/util/InputMismatchException.java
/src/java/util/zip/
/src/java/util/Scanner.java
/src/java/util/MissingFormatArgumentException.java
/src/java/util/AbstractQueue.java
/src/java/util/EnumSet.java
/src/java/util/LinkedHashSet.java
/src/java/util/AbstractSequentialList.java
/src/java/util/Tripwire.java
/src/java/util/FormattableFlags.java
/src/java/util/ResourceBundle.java
/src/java/util/Enumeration.java
/src/java/util/DoubleSummaryStatistics.java
/src/java/util/regex/
/src/java/util/EmptyStackException.java
/src/java/util/ComparableTimSort.java
/src/java/util/Queue.java
/src/java/util/Formattable.java
/src/java/util/ServiceConfigurationError.java
/src/java/util/Observer.java
/src/java/util/Calendar.java
/src/java/util/TimeZone.java
/src/java/util/IllegalFormatWidthException.java
/src/java/util/Map.java
/src/java/util/spi/
/src/java/util/ArrayList.java
/src/java/util/OptionalInt.java
/src/java/util/ArraysParallelSortHelpers.java
/src/java/util/concurrent/
/src/java/util/FormatFlagsConversionMismatchException.java
/src/java/util/Arrays.java
/src/java/util/AbstractList.java
/src/java/util/Random.java
/src/java/util/Spliterator.java
/src/java/util/ArrayDeque.java
/src/java/util/AbstractSet.java
/src/java/util/Vector.java
/src/java/util/LinkedList.java
/src/java/util/Date.java
/src/java/util/LongSummaryStatistics.java
/src/java/util/PropertyPermission.java
/src/java/util/InvalidPropertiesFormatException.java
/src/java/util/StringTokenizer.java
/src/java/util/JapaneseImperialCalendar.java
/src/java/util/NoSuchElementException.java
/src/java/util/PropertyResourceBundle.java
/src/java/util/WeakHashMap.java
/src/java/util/TimerTask.java
/src/java/util/UUID.java
/src/java/util/IllformedLocaleException.java
/src/java/util/Currency.java
/src/java/util/Collections.java
/src/java/util/Objects.java
/src/java/util/LocaleISOData.java
/src/java/util/EventListenerProxy.java
/src/java/util/Observable.java
/src/java/util/Collection.java
/src/java/util/IllegalFormatPrecisionException.java
/src/java/util/UnknownFormatConversionException.java
/src/java/util/Deque.java
/src/java/util/Hashtable.java
/src/java/util/function/
/src/java/util/Comparators.java
/src/java/util/ListIterator.java
/src/java/util/SortedSet.java
/src/java/util/TooManyListenersException.java
/src/java/util/PriorityQueue.java
/src/java/util/OptionalDouble.java
/src/java/util/Spliterators.java
/src/java/util/List.java
/src/java/util/ListResourceBundle.java
/src/java/util/RandomAccess.java
/src/java/util/TimSort.java
/src/java/util/NavigableSet.java
/src/java/util/ArrayPrefixHelpers.java
/src/java/util/GregorianCalendar.java
/src/java/util/TreeSet.java
/src/java/util/Comparator.java
/src/java/util/SplittableRandom.java
/src/java/util/MissingResourceException.java
/src/java/util/NavigableMap.java
/src/java/util/PrimitiveIterator.java
/src/java/util/FormatterClosedException.java
/src/java/util/AbstractMap.java
/src/java/util/Base64.java
/src/java/util/ConcurrentModificationException.java
/src/java/util/prefs/
/src/java/util/Locale.java
/src/java/util/Set.java
/src/java/util/TreeMap.java
/src/java/util/ServiceLoader.java
/src/java/util/DuplicateFormatFlagsException.java
/src/java/util/IllegalFormatFlagsException.java
/src/java/util/jar/
/src/java/util/MissingFormatWidthException.java
/src/java/util/logging/
/src/java/util/IllegalFormatCodePointException.java
/src/java/util/SimpleTimeZone.java
/src/java/util/Optional.java
/src/java/util/stream/
/src/java/util/IntSummaryStatistics.java
/src/java/util/Properties.java
/src/java/util/UnknownFormatFlagsException.java
/src/java/util/EnumMap.java
/src/java/util/SortedMap.java
/src/java/util/EventObject.java
/src/java/util/IllegalFormatException.java
/src/java/util/DualPivotQuicksort.java
/src/java/util/EventListener.java
/src/java/util/HashSet.java
/src/java/util/Dictionary.java
/src/java/util/Iterator.java
/src/java/util/Stack.java
/src/java/util/BitSet.java
/src/java/util/Timer.java
/src/java/util/RegularEnumSet.java

src/Demo.java

# unignore源码文件
# HashMap类
!src/java/util/HashMap.java

